<%- include('../partials/questions/HTMLheader') %>
<body>
  <%- include('../partials/questions/header') %>
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/5') %>
      <div class="box answer">
        <h3>Answer</h3>
        <h3>Top 5 girls names in the England and Wales</h3>
        <ul>
          <% popularGirlNames.forEach((name, index) => { %>
            <%- `<li>${index+1}. ${name}</li>` %>
           <% }) %>
        </ul>
      </div>
    </div>
  </div>
</body>
